<div id="toolTipDIV">
  <ul style="list-style: none">
    <li>设备信息：</li>
    <li>设备状态：<a style="color: #1890ff">运转中</a></li>
    <li>设备名称：</li>
    <li>设备描述：</li>
    <li>设备标签：</li>
  </ul>
  <!--<ul style="list-style: none">-->
    <!--<li>设备信息：{{currDevice["svg"]}}</li>-->
    <!--<li>设备状态：<a style="color: #1890ff">运转中</a></li>-->
    <!--<li>设备名称：{{dataDevice['name']}}</li>-->
    <!--<li>设备描述：{{dataDevice['decription']}}</li>-->
    <!--<li>设备标签：{{dataDevice['labels']}}</li>-->
  <!--</ul>-->
</div>
<div id="myDiagramDiv"></div>

<div class="echarts" id="echart1" *ngIf="true"></div>
<div class="echarts" id="echart2" style="left:100px" *ngIf="true"></div>
<div class="echarts" id="echart3" style="top:430px;" *ngIf="true"></div>
<div class="echarts" id="echart4" style="top:430px;left:100px" *ngIf="true"></div>


<div  (click)="drag()" id="echartsbtn">
  <i class="icon-table"></i><br>
  <!--图表切换-->
</div>
