/* You can add global styles to this file, and also import other style files */
[nz-button] {
  margin-right: 8px;
  margin-bottom: 4px;
  margin-top: 6px;
}


.ant-table-tbody tr {
  font-size: 14px;
  color: #000000;
}
.ant-table-tbody th span {
  font-size: 14px;
  color: #000000;
}

.ant-table-tbody td a {
  font-size: 14px;
}

.ant-table-tbody td {
  font-size: 14px;
  color: #000000;
}
